<div class="container  admin">
<h1>Staff Schedule</h1>
<h2>This Week's Schedule</h2>
<div class="grid">
<div id="mon">

<h3>Mon</h3>
{{#each monday}}
<p class="monP">{{this}}</p>
{{/each}}
</div>
<div id="tues">
<h3>Tues</h3>
{{#each tuesday}}
<p class="tueP">{{this}}</p>
{{/each}}
</div>
<div id="wed"><h3>Wed</h3>
{{#each wednsday}}
<p class="wedP">{{this}}</p>
{{/each}}
</div>
<div id="thur"><h3>Thur</h3>
{{#each thursday}}
<p class="thurP">{{this}}</p>
{{/each}}
</div>
<div id="fri"><h3>Fri</h3>
{{#each friday}}
<p class="friP">{{this}}</p>
{{/each}}
</div>
<div id="sat"><h3>Sat</h3>
{{#each saturday}}
<p class="satP">{{this}}</p>
{{/each}}
</div>
<div id="sun"><h3>Sun</h3>
{{#each sunday}}
<p class="sunP">{{this}}</p>
{{/each}}
</div>
</div>
  <form action="/clear" method="post">
  <button type="submit">Clear Schedule</button>
</form>
</div>
